body{
    text-align: center;
    font-family: sans-serif;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #1f1d1d;
   padding: 10px;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 200px;
    margin-right: 10px;
}

.logo a{
    text-decoration: none;
    color: rgb(124, 121, 121);
    text-transform: uppercase;
    font-size: 20px;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.navbar a{
    display: block;
    padding: 23px 20px;
    color: rgb(179, 175, 175);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.header {
    background: url("../recursos/img/fondo1.jpg") no-repeat center;
    background-size: cover;
    height: 60vh !important;
    display: flex;
    justify-content: center;
    align-items: center
}

.titulo {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(190, 188, 188);
}
